.seller-name {
    font-size: medium;
}

.seller-price, .seller-exchange {
    font-size: 12px;
}

.arrow-forward {
  
    color: white;
    border:1px solid white;
    border-radius: 50%;
}

.seller-card{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 10px;;
    padding-top: 10px;
    background-color: crimson;
}

.seller-main-info {
    padding-top: 60px;
    line-height: 3px;
}
