* {
  box-sizing: border-box;
  margin: 0;
}

.seller-name {
  font-size: medium;
}

.seller-price,
.seller-exchange {
  font-size: 12px;
}

.arrow-forward {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
}

.seller-info {
  height: 100%;
}

.seller-card {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.seller-main-info {
  padding-top: 60px;
  line-height: 3px;
}

.seller-card:nth-child(odd) {
  background-color: rgb(190, 50, 72);
}

.seller-card:nth-child(even) {
  background-color: rgb(192, 61, 87);
}
